.org-chart-node-wrapper {
    display: flex;
    justify-content: center;
}

.org-chart-node {
    margin: 30px 10px 30px 10px;
    display: flex;
    width: 200px;
    padding: 5px;
    justify-content: space-around;
    box-shadow: 0 5px 7px #cccccc;
    border-radius: 10px;
    border: #cccccc 1px solid;

    .org-chart-node-pic {
        border-radius: 30%;
        width: 55px;
        height: 55px;
        margin: auto 0px auto 0px;
    }

    .org-chart-node-title {
        display: block;

        h1 {
            font-size: 1rem;
            font-weight: 500;
        }

        h2 {
            font-size: 0.75rem;
            font-weight: 400;
        }
    }
}

.org-chart-node-children {
    display: flex;
    justify-content: center;
}
