$node-width: 300px;
$node-height: 100px;

.container {
    padding: 10px;
}

.chart-container {
    border: green 1px solid;
    height: 83vh;
    overflow: hidden;
}

.chart {
    display: flex;
    justify-content: space-between;
}
