@import '../../styles/_colors';

.project-card {
    all: unset;
    box-shadow: 0px 5px 8px 3px $blue-gray-shadow;

    padding: 20px;
    width: 100%;
    margin: 10px;
    background: $blue-gray;
    border-radius: 15px;

    .project-card-header {
        font-size: 30px;
    }

    hr {
        color: $air-green;
    }
    
    .project-card-body {
        display: flex;
        align-items: center;

        p {
            margin-bottom: 0;
        }

        img {
            border-radius: 10px;
        }
    }

    transition: scale 0.2s ease-out;

    &:hover {
        scale: 1.02;
    }
}
