.container {
    padding: 20px;
    display: block;

    .draggable-frame-container {
        border: green 1px solid;
        width: 97%;
        height: 77vh;
        overflow: hidden;
        position: absolute;

        .draggable-frame {
            width: 10000vh;
            height: 10000vw;
            background-color: #11ff77;

            .node {
                width: 100px;
                height: 100px;
                background-color: #1177ff;
                border: blue 1px solid;
            }
        }
    }
}
