.org-chart-node {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    border: #cccccc 1px solid;
    border-radius: 10px;
    box-shadow: 0 5px 7px #cccccc;
    transition: transform 0.2s ease-out;

    &:hover {
        transform: scale(1.05);
    }
}
