// Normal custom colors
$blue-gray: #2b3043;
$air-green: #b2d6c0;
$blue-black: #050210;
$orange-brown: #a65631;
$teal: #1ed2ce;
$dark-teal: #30a5a1;

// Gradients
$chill-gradient: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
$warm-gradient: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
$hot-gradient: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
$cold-gradient: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
