@property --r {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

.gradientText {
    --r: 0%;
    background-size: 0%;
    background: radial-gradient(
        circle at var(--x, 50%) var(--y, 10%),
        #ef4444 0%,
        white var(--r)
    );
    transition: --r 0.5s ease, font-size 0.2s;
    white-space: nowrap;
}

.gradientText:hover {
    --r: 80%;
    background: radial-gradient(
        circle at var(--x, 50%) var(--y, 10%),
        #ef4444 10%,
        white var(--r)
    );
}
