@import "../../styles/colors";
@import "../../styles/tags";

.home {
    margin: 0;
    padding: 0;
    background-image: url("../../assets/images/generic-coding.jpg");
    background-position: top center;
    background-attachment: fixed;
    background-size: 100vw;

    .home-title {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        background: linear-gradient(135deg, $blue-black 0%, $blue-gray 75%);
        color: $air-green;
        opacity: 0.99;

        .home-title-block {
            display: block;
            width: 300px;
            height: 100px;

            .home-title-typed {
                margin-bottom: 10px;
            }

            .home-title-links {
                display: flex;
                justify-content: space-evenly;
                #{$link-tags} {
                    color: $air-green;
                    transition: font-size 0.3s ease-out;
                }
                #{$link-hover-tags} {
                    font-size: 120%;
                }
            }
        }
    }

    .home-spacer {
        height: 70vh;
    }

    .home-content {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $blue-black;
        background: $cold-gradient;
        opacity: 0.97;
        font-size: 2rem;

        .text-wrapper {
            display: block;
        }

        .dev-link {
            text-decoration: none;
            transition: font-size 0.3s ease-out;
            color: $air-green;

            &:hover {
                font-size: 3rem;
            }
        }
    }
}
