---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="h-full flex items-center justify-center">
        <div class="border aspect-[3.5/2] w-96 rounded-sm p-4">
            <h1 class="font-bold text-5xl">Alex L-C</h1>
        </div>
    </main>
</Layout>
