@import "./variables";

.aboutMeWrapper {
    width: 60%;
    margin-left: calc($min-nav-width + 20px);
    margin-right: 20px;
}

.aboutMeDivider {
    border-color: $color3;
    margin: 20px 0;
}

.headerText {
    font-size: $header-size;
}

.aboutMeDetails {
    display: flex;
    justify-content: space-evenly;
}

.aboutMeHeadshot {
    border-radius: 50%;
    box-shadow: $large-shadow;
}

.aboutMeDetailsTextWrapper {
    max-width: 700px;
    margin-left: 30px;
}

.aboutMeDetailsText {
    font-size: 1.1rem;
    line-height: 1.5rem;

    &:not(:first-child) {
        margin-top: 15px;
    }
}

.aboutMeFooter {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.aboutMeFooterText {
    font-size: 1.2rem;
    font-weight: 200;
}

@media (max-width: 1200px) {
    .aboutMeWrapper {
        width: 100%;
    }
}

@media (max-width: $mobile-max-width) {
    .aboutMeWrapper {
        margin: 0;
        max-height: calc(100% - $min-nav-width * 2 - 20px);
    }

    .aboutMeDetails {
        flex-direction: column;
        align-items: center;
    }

    .aboutMeDetailsTextWrapper {
        margin-left: 0;
        margin-top: 30px;
    }
}
