@import "./variables";

.book {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: $outer-spacing;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    * {
        margin: 0;
        padding: 0;
    }
}

.prevPageButton,
.nextPageButton {
    all: unset;
    position: absolute;
    z-index: 2;
    user-select: none;
    cursor: pointer;
    animation: springScaleDown 0.3s;
    color: $color3;

    svg {
        width: $icon-size;
        height: $icon-size;
    }

    &:hover {
        scale: 1.3;
        animation: springScaleUp 0.3s;
        color: $color4;
    }
}

.prevPageButton {
    top: calc($outer-spacing + $inner-spacing - 10px);
    right: calc($outer-spacing + $inner-spacing * 3);

    svg {
        rotate: 180deg;
    }
}

.nextPageButton {
    top: calc($outer-spacing + $inner-spacing - 10px);
    right: calc($outer-spacing + $inner-spacing);
}

.pagesWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: $page-border-radius;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $page-border-radius;
    overflow-y: scroll;
    padding: 40px;
}

.nav {
    position: absolute;
    z-index: 2;
    width: $min-nav-width;
    height: calc(100% - $outer-spacing * 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: $page-border-radius;
    border-bottom-left-radius: $page-border-radius;
    left: $outer-spacing;
    animation: springNavCollapse 0.4s;

    .navIcon {
        margin: $inner-spacing;
        width: calc($icon-size + 10px);
        height: calc($icon-size + 10px);
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;

        svg {
            width: $icon-size;
            height: $icon-size;
        }
    }

    &:not(.locked):hover {
        .navIcon {
            svg {
                animation: springRotate 0.4s;
                rotate: 180deg;
            }
        }
    }
}

.nav.expanded,
.nav.locked {
    animation: springNavExpand 0.4s;
    width: $max-nav-width;
}

.navLockedIcon {
    position: absolute;
    margin-top: calc($inner-spacing - 10px);
    margin-left: calc(0px - $icon-size * 2);

    svg {
        width: calc($icon-size / 1.25);
        height: calc($icon-size / 1.25);
    }
}

.navContent {
    height: 100%;
}

.navItemList {
    margin: 0 $inner-spacing;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.navItem {
    list-style-type: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;

    .navItemLink {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.2s ease;
    }

    .navItemIcon {
        svg {
            width: $icon-size;
            height: $icon-size;
        }
    }

    .navItemText {
        margin-left: 10px;
    }

    &:hover {
        scale: 1.1;
    }
}

@media (max-width: $mobile-max-width) {
    .book {
        padding: 5px;
    }

    .nav {
        width: calc(100% - 10px);
        height: $min-nav-width;
        display: flex;
        flex-direction: row;
        border-radius: 0;
        border-top-left-radius: $page-border-radius;
        border-top-right-radius: $page-border-radius;
        top: 5px;
        left: 5px;
        animation: springNavCollapseUp 0.4s;

        .navIcon {
            margin: calc($inner-spacing / 2);
        }
    }

    .nav.expanded,
    .nav.locked {
        height: $max-nav-height;
        width: calc(100% - 10px);
        animation: springNavExpandDown 0.4s;

        .navItemList {
            display: flex;
            flex-wrap: wrap;
        }

        .navIcon {
            margin: calc($inner-spacing / 4);
        }
    }

    .navContent {
        width: 100%;
    }

    .navItemList {
        display: none;
        height: 100%;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    .navItem {
        width: 140px;
        border: 1px solid $color3;
        border-radius: 12px;
        margin: calc($max-nav-height / 20) 0;

        .navItemLink {
            padding: 5px;
        }

        &:hover {
            scale: 1.05;
        }
    }
}

@media (max-width: 300px) {
    .navItem {
        width: auto;
    }

    .navItemText {
        display: none;
    }
}
