@import "./variables";

.formWrapper {
    width: 50%;
    height: 53%;
}

.formTitle {
    font-size: $header-size;
}

.contactDivider {
    margin: 20px 0;
    border-color: $color3;
    border-radius: 2px;
}

.contactFooter {
    width: 100%;
    text-align: center;
}

.emailCopyButton {
    all: unset;
    cursor: pointer;
        transition: all 0.2s ease;

    .emailToolTip {
        opacity: 0;
        background-color: $color2;
        color: $color3;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        font-size: 0.8rem;
        margin-left: 10px;
        transition: all 0.3s ease;

        svg {
            translate: 0 2px;
        }

        &::after {
            content: " ";
            position: absolute;
            right: 100%;
            margin-top: 2.5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent $color2 transparent transparent;
        }

        &.copied {
            color: $color4;
        }
    }

    &:hover {
        color: $color4;

        .emailToolTip {
            opacity: 1;
        }
    }
}

@media (max-width: $mobile-max-width) {
    .formWrapper {
        margin: 20px;
        width: 100%;
        max-height: calc(100% - $min-nav-width * 2 - 20px);
    }
}
