@import "./variables";

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: $al-light-green;
    background: black;
    background: linear-gradient(107.56deg, $al-blue-black 0%, $al-blue-gray 100%);
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

main {
}

//@media (prefers-color-scheme: dark) {
//    html {
//        color-scheme: dark;
//    }
//    body {
//        color: white;
//        background: black;
//    }
//}
