@import "./variables";

.ALHeader {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 $spacing;
    user-select: none;
    height: 15vh;
    box-shadow: 0 5px 8px $al-blue-black;
    background: $al-blue-gray;

    .side {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .right {
        justify-content: flex-end;
    }

    .logoLink {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        h1 {
            margin-left: $spacing;
            font-weight: 200;
            font-size: 3rem;
            user-select: none;
        }
    }

    .dotSeparator {
        margin-left: $spacing;
        font-size: 1.5rem;
        margin-top: -0.75rem;
        color: $al-orange;
        cursor: default;
    }

    .typewriter {
        margin-left: $spacing;
        font-size: 1.25rem;
        font-weight: 200;
    }
}

@media (max-width: 800px) {
    .ALHeader {
        h1 {
            max-width: 100px;
            font-size: 1.5rem;
        }
    }

    .imageWrapper {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 900px) {
    .dotSeparator {
        display: none;
    }

    .typewriter {
        display: none;
    }
}
