@import "./variables";

.title {
    margin: 0;
    font-size: 3rem;
    text-align: center;
    max-width: calc(100% - $min-nav-width * 2 - 10px);
}

@media (max-width: $mobile-max-width) {
    .title {
        max-height: calc(100% - $min-nav-width * 2 - 10px);
        max-width: 100%;
    }
}
