@import "./variables";

.nav {
    width: 0;
    height: 100%;
    background: red;
    border-radius: 10px;
    background: $color5;
    transition: width 0.3s ease;

    .navIcon {
        all: unset;
        position: absolute;
        margin: $inner-spacing;

        svg {
            width: $icon-size;
            height: $icon-size;
            color: $color3;
            transition: rotate 0.5s ease-in-out;
        }
    }

    .navLockedIcon {
        display: none;
        position: absolute;
        top: $inner-spacing;
        left: calc(1.25 * $icon-size + $inner-spacing);

        svg {
            color: $color4;
            width: calc($icon-size / 2);
            height: calc($icon-size / 2);
        }
    }

    &:hover,
    &.expanded {
        width: calc($icon-size + 2 * $inner-spacing + 8px);

        .navIcon {
            svg {
                color: $color4;
            }
        }

        .navLockedIcon {
            display: initial;
        }

        .navDivider {
            display: flex;
            margin-top: calc($icon-size + 2 * $inner-spacing);
        }

        .navContent {
            display: flex;
        }
    }

    &.expanded .navIcon {
        //border: 1px solid $color4;
        //border-radius: 25%;
    }

    &:not(.expanded):hover {
        .navIcon {
            svg {
                rotate: 180deg;
            }
        }
    }
}

.navContent {
    display: none;
    flex-direction: column;
    align-items: center;
}

.navDivider {
    display: none;
    border: 1px solid $color3;
}

.navItem {
    display: flex;
    transition: all 0.2s ease;
    margin: $inner-spacing 0;

    &:hover {
        scale: 1.1;

        .navItemIcon svg {
            color: $color4;
        }

        .navItemText {
            width: 100px;
        }
    }
}

.navItemIcon {
    svg {
        width: $icon-size;
        height: $icon-size;
        color: $color3;
    }
}

.navItemText {
    position: absolute;
    overflow: hidden;
    width: 0;
    color: $color4;
    margin-left: 4rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
