@import "./variables";

.ALNavbar {
    user-select: none;

    .dropdownMenu {
        display: none;
    }

    .navLinks {
        display: flex;
    }

    .navLinkItem {
        list-style-type: none;
        display: flex;
        margin: 0 $spacing;

        .dotSeparator {
            margin-left: calc($spacing * 2);
            color: $al-orange;
        }
    }

    .navLink {
        font-size: 1.5rem;
        font-weight: 200;
        transition: scale 0.3s ease;
        transition: translate 0.3s ease;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 0;
            background: $al-orange;
            border-radius: 10px;
            margin-top: calc(1rem + 15px);
            margin-left: -100%;
        }

        &:hover {
            scale: 1.1;
            translate: 0 -5px;

            &::after {
                animation-name: slidingUnderline;
                animation-duration: 0.3s;
                width: 100%;
            }
        }
    }
}

@keyframes slidingUnderline {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .ALNavbar {
        .dropdownButton {
            all: unset;
                border: 1px solid $al-orange;
                border-radius: 15px;
                padding: $spacing;

            svg {
                width: 2.5rem;
                height: 2.5rem;
                translate: 0 2px;
                color: $al-orange;

                transition: rotate 0.5s ease;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .dropdownMenu {
            display: inline-block;

            .dropdownLinks {
                list-style-type: none;
                display: none;
                position: absolute;
                translate: -100% -82.5%;
                margin: 0;
                padding: $spacing;

                .navLink {
                    font-size: 1rem;
                    margin: calc($spacing / 4) 0;

                    &::after {
                        margin-top: calc(1rem + 5px);
                    }
                }
            }

            &:hover {
                .dropdownButton {
                    svg {
                        rotate: 180deg;
                    }
                }

                .dropdownLinks {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid $al-orange;
                    border-radius: 15px;
                }
            }
        }

        .navLinks {
            display: none;
        }
    }
}
