@import "./variables";

.resumeWrapper {
    width: 60%;
    margin: auto;
}

.resumeDivider {
    border-color: $color3;
    border-radius: 2px;
    margin: 20px 0;
}

.resumeHeaderText {
    margin-top: 20px;
    font-size: 2.25rem;
}

.buttonLink {
    width: 100%;
    margin: 20px;
}

.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.resumeImage {
    height: auto;
    width: 100%;
    border-radius: 10px;
    margin: 0 10px;
}

@media (max-width: 1200px) {
    .resumeWrapper {
        height: 100%;
    }

    .imageContainer {
        display: block;
        width: 100%;
        height: 100%;

        .resumeImage {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 800px) {
    .resumeWrapper {
        width: 90%;
        max-height: calc(100% - $min-nav-width * 2 - 10px);
    }
    
    .imageContainer {
        display: block;
        height: 100%;
    }
}
