// Spacing/Padding/Margin
$outer-spacing: 15px;
$inner-spacing: 25px;
$icon-size: 50px;

// Colors
$color1: #040111;
$color2: #161e3e;
$color3: #b2d6c0;
$color4: #eb834a;
$color5: #080919;
$main-background-gradient: linear-gradient(135deg, $color2 0%, $color1 100%);
