// Spacing/Padding/Margin
$spacing: 10px;
$partial-border-spacing: 20px;
$partial-border-radius: 10px;

// Colors
$al-orange: #eb834a;
$al-blue-black: #040111;
$al-blue-gray: #161e3e;
$al-light-green: #b2d6c0;
